
.instagramwidget {
	border:1px solid #c3c3c3;
	background:#f9f9f9;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	overflow:hidden;
}
.instagramwidget a.title:link, .instagramwidget a.title:visited  {
	display:block;
	height:33px;
	background:#46729b url(data:image/gif;base64,R0lGODlhAQAhAMQAAFR/p0hznVN+plB8pFJ8pVN+p0dynFB7pEp2n096o0x3n0x3oFN9pUl1nkp2nlJ9pkZxm0x4oFB8o0h0nUt3n056ok14oUZym1F8pU55oU97o055ok96ogAAAAAAAAAAACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4zLWMwMTEgNjYuMTQ1NjYxLCAyMDEyLzAyLzA2LTE0OjU2OjI3ICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCBDUzYgKFdpbmRvd3MpIiB4bXA6Q3JlYXRlRGF0ZT0iMjAxNC0wMS0yOFQyMDowMDo1NyswNzowMCIgeG1wOk1vZGlmeURhdGU9IjIwMTQtMDEtMjhUMjA6MDE6MTErMDc6MDAiIHhtcDpNZXRhZGF0YURhdGU9IjIwMTQtMDEtMjhUMjA6MDE6MTErMDc6MDAiIGRjOmZvcm1hdD0iaW1hZ2UvZ2lmIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjQzMjhFRkNGODgxQzExRTM5OUQ4OURBQTU4OUI5QjJFIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjQzMjhFRkQwODgxQzExRTM5OUQ4OURBQTU4OUI5QjJFIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NDMxMjBDMjI4ODFDMTFFMzk5RDg5REFBNTg5QjlCMkUiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NDMxMjBDMjM4ODFDMTFFMzk5RDg5REFBNTg5QjlCMkUiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4B//79/Pv6+fj39vX08/Lx8O/u7ezr6uno5+bl5OPi4eDf3t3c29rZ2NfW1dTT0tHQz87NzMvKycjHxsXEw8LBwL++vby7urm4t7a1tLOysbCvrq2sq6qpqKempaSjoqGgn56dnJuamZiXlpWUk5KRkI+OjYyLiomIh4aFhIOCgYB/fn18e3p5eHd2dXRzcnFwb25tbGtqaWhnZmVkY2JhYF9eXVxbWllYV1ZVVFNSUVBPTk1MS0pJSEdGRURDQkFAPz49PDs6OTg3NjU0MzIxMC8uLSwrKikoJyYlJCMiISAfHh0cGxoZGBcWFRQTEhEQDw4NDAsKCQgHBgUEAwIBAAAh+QQAAAAAACwAAAAAAQAhAAAFGiAgFoLAPAQ2HJKWcNWWWdGiUIjTTEFgXJAQADs=) repeat-x;
	text-decoration:none;
}
.instagramwidget .title .icon{
	display:block;
	float:left;
	width:25px;
	height:25px;
	margin:4px 10px 0 5px;
}
.instagramwidget .title .text {
	float:left;
	height:25px;
	overflow:hidden;
	margin:5px 0 0 0;
	color:#FFF;
	font-size:18px;
	white-space:nowrap;
}
.instagramwidget .profile {
	width:100%;
	border-collapse: collapse;
}
.instagramwidget .profile tr td {
	padding:0px;
	margin:0px;
	text-align:center;
}
.instagramwidget .profile td {
	border:1px solid #c3c3c3;
}
.instagramwidget .profile .avatar {
	width:1%;
	padding:10px !important;
	border-left:none !important;
	line-height:0px;
}
.instagramwidget .profile .avatar img {
	width:60px;
}
.instagramwidget .profile .value {
	width:33%;
	height:30px;
	font-size:14px;
	font-weight:bold;
}
.instagramwidget .profile span {
	display:block;
	font-size:9px;
	font-weight:bold;
	color:#999999;
	margin:-2px 0 0 0;
}
.instagramwidget a.follow:link, .instagramwidget a.follow:visited {
	display:block;
	background:#ad4141;
	text-decoration:none;
	font-size:14px;
	color:#FFF;
	font-weight:bold;
	width:120px;
	margin:0 auto 0 auto;
	padding:4px 4px 4px 10px;
	border:3px solid #FFF;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0px 2px rgba(0,0,0,0.5);
}
.instagramwidget a.follow:hover {
	background:#cf3838;
}
.instagramwidget .data{
	text-align:left;
	margin:10px 0 0 10px;
	padding:0 0 5px 0;
}
.instagramwidget .data .image {
	display:block;
	float:left;
	margin:0 5px 5px 0;
	overflow:hidden;
	border:2px solid #FFF;
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
	ling-height:0px;
}
.instagramwidget .data .image img{

}
.instagramwidget .data .image:hover {
	filter: alpha(opacity=80);
	opacity: 0.8;
}
.instagramwidget .empty {
	text-align:center;
	margin:10px 0 10px 0;
}
.copyright {
	width:258px;
	margin:3px 0 0 0;
	font-size:10px;
	text-align:center;
}
.copyright a:link, .copyright a:visited {
	text-decoration:none;
	color:#666;
}
.copyright a:hover {
	text-decoration:underline;
}
		